.add-user {
  grid-column: 2/10;
  /* border: 2px solid red; */
  height: min-content;
  background-color: #ffffff;
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  font-size: 1.6rem;
  border-radius: 0.4rem;
}

.add-user__label {
}

.add-user__input {
  padding: 2rem;
  height: 6rem;
  font-size: 1.8rem;
  border-radius: 0.4rem;
}
.add-user__btn-submit {
  padding: 1rem 3rem;
  height: 6rem;
  cursor: pointer;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.8rem;
}
