.users-list {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  max-height: 35rem;
  overflow-y: scroll;
  background-color: whitesmoke;
}

.users-list::-webkit-scrollbar {
  display: none;
}

.users-list:not(:last-child) {
  gap: 0;
}
.users-list__item {
  padding: 2rem;
  box-shadow: 0.4rem 0.4rem 0 lightgray;
  font-size: 1.8rem;
  border: 2px double lightgray;
  list-style: none;
  border: 2px solid;
  font-weight: 600;
  background-color: white;
}

.users-list__item:nth-child(odd) {
  border: 3px solid lightslategrey;
  box-shadow: 0.4rem 0.4rem 0 lightgray;
}
